---
http_interactions:
- request:
    method: post
    uri: https://sandbox.myfinance.com.br/entities/3798/attachments
    body:
      encoding: UTF-8
      string: '{"attachment":{"entity_id":3798,"user_id":3703,"attachment":"#<File:0x007f8a231ff220>"}}'
    headers:
      Content-Type:
      - multipart/form-data
      Authorization:
      - Basic Olg=
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - text/html; charset=utf-8
      WWW-Authenticate:
      - Basic realm="Myfinance API"
    body:
      encoding: UTF-8
      string: |
        HTTP Basic: Access denied.
      effective_url: https://sandbox.myfinance.com.br/entities/3798/attachments
  recorded_at: Mon, 09 Nov 2015 19:41:02 GMT
recorded_with: VCR 2.9.3
