---
http_interactions:
- request:
    method: get
    uri: https://sandbox.myfinance.com.br/entities/3798/deposit_accounts/14268/financial_transactions/new
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YjU1MmRkNWE4NTk4Y2EwODliOTFjNWUzNTVhODNiODZlNDY5NmFlZmFjOWVhYTA1Olg=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"f07de2d17d788a51fdc9e63be893b8a3"
    body:
      encoding: UTF-8
      string: '{"financial_transaction":{"absolute_amount":null,"amount":null,"api_related":false,"attachments_count":0,"balance_difference":false,"bank_slips_count":0,"bank_statement_id":null,"category_id":null,"classification_center_id":null,"created_at":null,"currency_id":null,"deposit_account_id":14268,"divided":false,"document":null,"duplicity_suspicion_id":null,"excel_import_id":null,"force_destroy":false,"id":null,"imported_from_sync":false,"indexed_at":null,"is_pending":false,"notes":null,"observation":null,"occurred_at":"2015-11-03","original_description":null,"owner_id":null,"parent_id":null,"person_id":null,"reconciled":false,"transfer_id":null,"updated_at":null,"user_description":null,"type":"Debit"}}'
      effective_url: https://sandbox.myfinance.com.br/entities/3798/deposit_accounts/14268/financial_transactions/new
  recorded_at: Tue, 03 Nov 2015 13:19:34 GMT
recorded_with: VCR 2.9.3
