---
http_interactions:
- request:
    method: get
    uri: https://sandbox.myfinance.com.br/entities/3798/attachments/new
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YjU1MmRkNWE4NTk4Y2EwODliOTFjNWUzNTVhODNiODZlNDY5NmFlZmFjOWVhYTA1Olg=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"d9586ed580c5fa17d2bb2b0b9d83873a"
    body:
      encoding: UTF-8
      string: '{"attachment":{"entity_id":3798,"title":null,"attachment_file_name":null,"attachment_content_type":null,"attachment_file_size":null,"created_at":null,"updated_at":null}}'
      effective_url: https://sandbox.myfinance.com.br/entities/3798/attachments/new
  recorded_at: Thu, 05 Nov 2015 11:36:14 GMT
recorded_with: VCR 2.9.3
