---
http_interactions:
- request:
    method: post
    uri: https://sandbox.myfinance.com.br/entities/3798/credit_cards/43/transactions
    body:
      encoding: UTF-8
      string: '{"credit_card_transaction":{"amount":199.99,"occurred_at":"2013-04-20"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YjU1MmRkNWE4NTk4Y2EwODliOTFjNWUzNTVhODNiODZlNDY5NmFlZmFjOWVhYTA1Olg=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"b5b121bd1fa9e0e66f8d006781f8c42c"'
    body:
      encoding: UTF-8
      string: '{"credit_card_transaction":{"id":314141,"amount":"199.99","occurred_at":"2013-04-20","document":null,"observation":null,"description":null,"classification_center_id":null,"category_id":null,"person_id":null,"credit_card_id":43,"credit_card_invoice":{"id":2146,"start_date":"2013-03-22","end_date":"2013-04-21","due_date":"2013-05-01","balance":"199.99"},"parcels":null,"parcel":null,"links":[{"rel":"self","href":"https://sandbox.myfinance.com.br/entities/3798/credit_cards/43/transactions/314141","method":"get"}]}}'
      effective_url: https://sandbox.myfinance.com.br/entities/3798/credit_cards/43/transactions
  recorded_at: Mon, 16 Nov 2015 18:11:08 GMT
recorded_with: VCR 2.9.3
