---
http_interactions:
- request:
    method: post
    uri: https://sandbox.myfinance.com.br/classification_centers
    body:
      encoding: UTF-8
      string: '{"classification_center":{"name":"Centro de Custo Tal","entity_id":3798,"cost_center":true,"revenue_center":false}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YjU1MmRkNWE4NTk4Y2EwODliOTFjNWUzNTVhODNiODZlNDY5NmFlZmFjOWVhYTA1Olg=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"d236b9fb57c9f2a3b42575f262c6980e"'
      Location:
      - https://sandbox.myfinance.com.br/classification_centers/17982
    body:
      encoding: UTF-8
      string: '{"classification_center":{"cost_center":true,"created_at":"2015-11-13T16:40:42-02:00","entity_id":3798,"excel_import_id":null,"id":17982,"name":"Centro
        de Custo Tal","revenue_center":false,"updated_at":"2015-11-13T16:40:42-02:00","use_count":0}}'
      effective_url: https://sandbox.myfinance.com.br/classification_centers
  recorded_at: Fri, 13 Nov 2015 18:40:43 GMT
recorded_with: VCR 2.9.3
