---
http_interactions:
- request:
    method: get
    uri: https://sandbox.myfinance.com.br/people/199424
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YjU1MmRkNWE4NTk4Y2EwODliOTFjNWUzNTVhODNiODZlNDY5NmFlZmFjOWVhYTA1Olg=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"37eb96e0643b045c5c7cbd3b96f781f5"
    body:
      encoding: UTF-8
      string: '{"person":{"address":"","address_number":"","city":"","complement":"","country":"","created_at":"2015-11-12T14:34:37-02:00","customer":true,"email":"","excel_import_id":null,"febraban_favored_code":null,"febraban_name":null,"federation_subscription_number":"42.308.611/0001-41","federation_subscription_number_only_numbers":"42308611000141","federation_subscription_type_id":null,"force_destroy":false,"id":199424,"imported_from_sync":false,"interested_users_ids":[3691],"modified_by_sync":false,"name":"Myfreecomm","neighborhood":"","note":"","person_type":"JuridicalPerson","phone":"","site":"","state":"","supplier":true,"updated_at":"2015-11-12T14:34:37-02:00","use_count":0,"zip_code":""}}'
      effective_url: https://sandbox.myfinance.com.br/people/199424
  recorded_at: Thu, 12 Nov 2015 18:00:00 GMT
recorded_with: VCR 2.9.3
