---
http_interactions:
- request:
    method: post
    uri: https://sandbox.myfinance.com.br/entities/3798/payable_accounts
    body:
      encoding: UTF-8
      string: '{"payable_account":{"due_date":"2015-10-20","amount":150.99,"create_as_recurrent":"october"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YjU1MmRkNWE4NTk4Y2EwODliOTFjNWUzNTVhODNiODZlNDY5NmFlZmFjOWVhYTA1Olg=
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"create_as_recurrent":["n\u00e3o est\u00e1 incluso na lista"]}'
      effective_url: https://sandbox.myfinance.com.br/entities/3798/payable_accounts
  recorded_at: Tue, 20 Oct 2015 16:53:19 GMT
recorded_with: VCR 2.9.3
