---
http_interactions:
- request:
    method: get
    uri: https://sandbox.myfinance.com.br/entities/3798/deposit_accounts/14268
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YjU1MmRkNWE4NTk4Y2EwODliOTFjNWUzNTVhODNiODZlNDY5NmFlZmFjOWVhYTA1Olg=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"6f7bd35e2f5a56814bb91a610f586266"
    body:
      encoding: UTF-8
      string: '{"deposit_account":{"id":14268,"archived_at":null,"bank_account_id":null,"currency_id":1,"deposit_account_type_id":2,"description":null,"entity_id":3798,"force_destroy":false,"imported_from_sync":false,"initial_balance":null,"last_transaction_date":null,"name":"Carteira","sync_response":{},"calculated_balance":"0.0","logo_image_url":"logos/logo-money-account.png","links":[{"rel":"self","href":"https://sandbox.myfinance.com.br/entities/3798/deposit_accounts/14268","method":"get"}]}}'
      effective_url: https://sandbox.myfinance.com.br/entities/3798/deposit_accounts/14268
  recorded_at: Mon, 26 Oct 2015 19:31:14 GMT
recorded_with: VCR 2.9.3
