---
http_interactions:
- request:
    method: get
    uri: https://sandbox.myfinance.com.br/entities/3798/receivable_accounts/new
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YjU1MmRkNWE4NTk4Y2EwODliOTFjNWUzNTVhODNiODZlNDY5NmFlZmFjOWVhYTA1Olg=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"baf9b4ba89a942bf232b87b607b7e999"
    body:
      encoding: UTF-8
      string: '{"receivable_account":{"entity_id":3798,"due_date":"2015-10-20","occurred_at":null,"amount":null,"ticket_amount":null,"interest_amount":null,"discount_amount":null,"total_amount":null,"description":null,"document":null,"observation":null,"remind":false,"category_id":null,"classification_center_id":null,"person_id":null,"expected_deposit_account_id":null,"create_as_recurrent":"","financial_account_taxes":[],"links":[{"rel":"create","href":"https://sandbox.myfinance.com.br/entities/3798/receivable_accounts","method":"post"}]}}'
      effective_url: https://sandbox.myfinance.com.br/entities/3798/receivable_accounts/new
  recorded_at: Tue, 20 Oct 2015 14:09:12 GMT
recorded_with: VCR 2.9.3
