---
http_interactions:
- request:
    method: put
    uri: https://sandbox.myfinance.com.br/entities/3798/attachments/1306
    body:
      encoding: US-ASCII
      string: attachment[title]=Capturar 2
    headers:
      Content-Type:
      - multipart/form-data
      Authorization:
      - Basic YjU1MmRkNWE4NTk4Y2EwODliOTFjNWUzNTVhODNiODZlNDY5NmFlZmFjOWVhYTA1Olg=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"73dc47d84956dc7c448cb6ed3e9fd105"
    body:
      encoding: UTF-8
      string: '{"attachment":{"id":1306,"entity_id":3798,"title":"Capturar 2","attachment_file_name":"Mensalidade_MyFinance_15-07-2015.oxps","attachment_content_type":"application/octet-stream","attachment_file_size":135328,"created_at":"2015-11-11T11:30:20-02:00","updated_at":"2015-11-11T15:52:27-02:00","download_url":"https://sandbox.myfinance.com.br/entities/3798/attachments/1306/download","attachables":[],"links":[{"rel":"self","href":"https://sandbox.myfinance.com.br/entities/3798/attachments/1306","method":"get"},{"rel":"download","href":"https://sandbox.myfinance.com.br/entities/3798/attachments/1306/download","method":"get"}]}}'
      effective_url: https://sandbox.myfinance.com.br/entities/3798/attachments/1306
  recorded_at: Wed, 11 Nov 2015 17:52:27 GMT
recorded_with: VCR 2.9.3
