---
http_interactions:
- request:
    method: get
    uri: https://sandbox.myfinance.com.br/entities/3798/credit_cards/42
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YjU1MmRkNWE4NTk4Y2EwODliOTFjNWUzNTVhODNiODZlNDY5NmFlZmFjOWVhYTA1Olg=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"70d28ad476046916ebbb5b1ee6d83c51"
    body:
      encoding: UTF-8
      string: '{"credit_card":{"id":42,"name":"Visa","flag":"Visa","closing_day":21,"expiration_day":1,"balance":"0.0","entity_id":3798,"category_id":null,"person_id":null,"classification_center_id":null,"observation":"","archived_at":null,"flag_image_url":"https://dbv9lf0nkg7d3.cloudfront.net/assets/logos/logo-creditcard-visa-6757228292690c5f271966ba521f91be.png","links":[{"rel":"self","href":"https://sandbox.myfinance.com.br/entities/3798/credit_cards/42","method":"get"}]}}'
      effective_url: https://sandbox.myfinance.com.br/entities/3798/credit_cards/42
  recorded_at: Fri, 13 Nov 2015 19:32:52 GMT
recorded_with: VCR 2.9.3
