---
http_interactions:
- request:
    method: get
    uri: https://sandbox.myfinance.com.br/entities/3798/deposit_accounts/14268/bank_statements/18212
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YjU1MmRkNWE4NTk4Y2EwODliOTFjNWUzNTVhODNiODZlNDY5NmFlZmFjOWVhYTA1Olg=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"40f4555820d9d3e540664119393f0edb"
    body:
      encoding: UTF-8
      string: '{"bank_statement":{"amount_zero_items_ignored_count":0,"created_at":"2015-11-12T09:58:35-02:00","deposit_account_id":14268,"event_id":15424,"file_content_type":"application/octet-stream","file_file_name":"ArquivoFinanceiro.ofx","file_file_size":1021,"file_updated_at":"2015-11-12T09:58:35-02:00","future_items_ignored_count":0,"id":18212,"invalid_date_items_ignored_count":0,"updated_at":"2015-11-12T09:58:35-02:00"}}'
      effective_url: https://sandbox.myfinance.com.br/entities/3798/deposit_accounts/14268/bank_statements/18212
  recorded_at: Thu, 12 Nov 2015 12:02:51 GMT
recorded_with: VCR 2.9.3
