---
http_interactions:
- request:
    method: get
    uri: https://sandbox.myfinance.com.br/categories/536751
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YjU1MmRkNWE4NTk4Y2EwODliOTFjNWUzNTVhODNiODZlNDY5NmFlZmFjOWVhYTA1Olg=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"9dd76ae26a3e384a8b385f08eacd3816"
    body:
      encoding: UTF-8
      string: '{"category":{"cost":true,"created_at":"2015-11-12T17:45:35-02:00","excel_import_id":null,"force_destroy":false,"full_name":"Clube","id":536751,"imported_from_sync":false,"interested_users_ids":[3691],"modified_by_sync":false,"name":"Clube","parent_id":null,"revenue":true,"updated_at":"2015-11-12T17:45:35-02:00","use_count":0}}'
      effective_url: https://sandbox.myfinance.com.br/categories/536751
  recorded_at: Thu, 12 Nov 2015 20:11:25 GMT
recorded_with: VCR 2.9.3
