---
http_interactions:
- request:
    method: post
    uri: https://sandbox.myfinance.com.br/entities/3798/deposit_accounts/14268/financial_transactions
    body:
      encoding: UTF-8
      string: '{"financial_transactions":{"deposit_account_id":14268,"type":"Credit","occurred_at":"2015-10-28
        11:12:13 -0200","amount":100.0}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic Olg=
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - text/html; charset=utf-8
      WWW-Authenticate:
      - Basic realm="Myfinance API"
    body:
      encoding: UTF-8
      string: |
        HTTP Basic: Access denied.
      effective_url: https://sandbox.myfinance.com.br/entities/3798/deposit_accounts/14268/financial_transactions
  recorded_at: Wed, 28 Oct 2015 13:12:13 GMT
recorded_with: VCR 2.9.3
