---
http_interactions:
- request:
    method: put
    uri: https://sandbox.myfinance.com.br/entities/3828
    body:
      encoding: UTF-8
      string: '{"entity":{"name":"Finanças 2"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YjU1MmRkNWE4NTk4Y2EwODliOTFjNWUzNTVhODNiODZlNDY5NmFlZmFjOWVhYTA1Olg=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"7215ee9c7d9dc229d2921a40e899ec5f"
    body:
      encoding: UTF-8
      string: '{"entity":{"account_id":3613,"charging_uuid":null,"created_at":"2015-10-15T16:11:08-03:00","default_in_menu":false,"deleted_at":null,"federation_subscription_number":null,"force_destroy":false,"id":3828,"imported_from_sync_at":null,"name":"Finan\u00e7as 2","updated_at":"2015-10-15T16:11:08-03:00"}}'
      effective_url: https://sandbox.myfinance.com.br/entities/3828
  recorded_at: Thu, 15 Oct 2015 19:50:33 GMT
recorded_with: VCR 2.9.3
