---
http_interactions:
- request:
    method: post
    uri: https://sandbox.myfinance.com.br/entities
    body:
      encoding: UTF-8
      string: '{"entity":{"name":"Finanças"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YjU1MmRkNWE4NTk4Y2EwODliOTFjNWUzNTVhODNiODZlNDY5NmFlZmFjOWVhYTA1Olg=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"702c8e5a372c77d179744529604ed605"'
      Location:
      - https://sandbox.myfinance.com.br/entities/3828
    body:
      encoding: UTF-8
      string: '{"entity":{"account_id":3613,"charging_uuid":null,"created_at":"2015-10-15T16:11:08-03:00","default_in_menu":false,"deleted_at":null,"federation_subscription_number":null,"force_destroy":false,"id":3828,"imported_from_sync_at":null,"name":"Finan\u00e7as","updated_at":"2015-10-15T16:11:08-03:00"}}'
      effective_url: https://sandbox.myfinance.com.br/entities
  recorded_at: Thu, 15 Oct 2015 19:11:08 GMT
recorded_with: VCR 2.9.3
