---
http_interactions:
- request:
    method: get
    uri: https://sandbox.myfinance.com.br/entities/new
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YjU1MmRkNWE4NTk4Y2EwODliOTFjNWUzNTVhODNiODZlNDY5NmFlZmFjOWVhYTA1Olg=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"2a3c0056b5944b0746dc1bbf83931f1d"
    body:
      encoding: UTF-8
      string: '{"entity":{"account_id":3613,"charging_uuid":null,"created_at":null,"default_in_menu":false,"deleted_at":null,"federation_subscription_number":null,"force_destroy":false,"id":null,"imported_from_sync_at":null,"name":null,"updated_at":null}}'
      effective_url: https://sandbox.myfinance.com.br/entities/new
  recorded_at: Thu, 15 Oct 2015 19:35:56 GMT
recorded_with: VCR 2.9.3
