---
http_interactions:
- request:
    method: post
    uri: https://sandbox.myfinance.com.br/classification_centers
    body:
      encoding: UTF-8
      string: '{"classification_center":{"name":"Centro de Custo Tal","entity_id":3798,"cost_center":true,"revenue_center":false}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic Olg=
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - text/html; charset=utf-8
      WWW-Authenticate:
      - Basic realm="Myfinance API"
    body:
      encoding: UTF-8
      string: |
        HTTP Basic: Access denied.
      effective_url: https://sandbox.myfinance.com.br/classification_centers
  recorded_at: Fri, 13 Nov 2015 18:40:43 GMT
recorded_with: VCR 2.9.3
