---
http_interactions:
- request:
    method: post
    uri: https://sandbox.myfinance.com.br/categories
    body:
      encoding: UTF-8
      string: '{"category":{"name":"Babá das couves"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YjU1MmRkNWE4NTk4Y2EwODliOTFjNWUzNTVhODNiODZlNDY5NmFlZmFjOWVhYTA1Olg=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"2ff5203b574930bab93cf3f159642bea"'
      Location:
      - https://sandbox.myfinance.com.br/categories/536752
    body:
      encoding: UTF-8
      string: '{"category":{"cost":true,"created_at":"2015-11-13T10:10:33-02:00","excel_import_id":null,"force_destroy":false,"full_name":"Bab\u00e1
        das couves","id":536752,"imported_from_sync":false,"interested_users_ids":[3703],"modified_by_sync":false,"name":"Bab\u00e1
        das couves","parent_id":null,"revenue":true,"updated_at":"2015-11-13T10:10:33-02:00","use_count":0}}'
      effective_url: https://sandbox.myfinance.com.br/categories
  recorded_at: Fri, 13 Nov 2015 12:10:33 GMT
recorded_with: VCR 2.9.3
