---
http_interactions:
- request:
    method: post
    uri: https://sandbox.myfinance.com.br/entities/3798/credit_cards
    body:
      encoding: UTF-8
      string: '{"credit_card":{"name":"Cartão 1","flag":"MasterCard","closing_day":20,"expiration_day":2}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic Olg=
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - text/html; charset=utf-8
      WWW-Authenticate:
      - Basic realm="Myfinance API"
    body:
      encoding: UTF-8
      string: |
        HTTP Basic: Access denied.
      effective_url: https://sandbox.myfinance.com.br/entities/3798/credit_cards
  recorded_at: Mon, 16 Nov 2015 14:11:50 GMT
recorded_with: VCR 2.9.3
