---
http_interactions:
- request:
    method: post
    uri: https://sandbox.myfinance.com.br/entities/3798/receivable_accounts
    body:
      encoding: UTF-8
      string: '{"receivable_account":{"due_date":"2015-10-20","amount":150.99,"create_as_recurrent":"monthly"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YjU1MmRkNWE4NTk4Y2EwODliOTFjNWUzNTVhODNiODZlNDY5NmFlZmFjOWVhYTA1Olg=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"44afedbcd5b167778090324c8b50f008"'
      Location:
      - https://sandbox.myfinance.com.br/entities/3798/receivable_accounts/1298917
    body:
      encoding: UTF-8
      string: '{"receivable_account":{"id":1298917,"entity_id":3798,"status":1,"status_name":"unreceived","due_date":"2015-10-20","occurred_at":null,"amount":"150.99","ticket_amount":null,"interest_amount":null,"discount_amount":null,"total_amount":null,"description":null,"document":null,"document_emission_date":null,"observation":null,"remind":false,"reminded_at":null,"category_id":null,"classification_center_id":null,"expected_deposit_account_id":null,"recurrence_id":8831,"person_id":null,"created_at":"2015-10-20T15:10:44-02:00","updated_at":"2015-10-20T15:10:45-02:00","competency_month":"2015-10","recurrent":true,"parcelled":false,"recurrence_period":"monthly","number_of_parcels":null,"current_parcel":null,"attachment_id_list":[],"financial_account_taxes_attributes":[],"reconciliations":{"financial_transactions":[],"financial_accounts":[]},"links":[{"rel":"self","href":"https://sandbox.myfinance.com.br/entities/3798/receivable_accounts/1298917","method":"get"},{"rel":"destroy","href":"https://sandbox.myfinance.com.br/entities/3798/receivable_accounts/1298917","method":"delete"},{"rel":"receive","href":"https://sandbox.myfinance.com.br/entities/3798/receivable_accounts/1298917/receive","method":"put"},{"rel":"next","href":"https://sandbox.myfinance.com.br/entities/3798/receivable_accounts/1298918","method":"get"},{"rel":"destroy_recurrence","href":"https://sandbox.myfinance.com.br/entities/3798/receivable_accounts/1298917/recurrence","method":"delete"}]}}'
      effective_url: https://sandbox.myfinance.com.br/entities/3798/receivable_accounts
  recorded_at: Tue, 20 Oct 2015 17:10:45 GMT
recorded_with: VCR 2.9.3
